#titulo {
    color: blanchedalmond;
}

p.especial {
    color: mediumseagreen;
}

p.texto {
    color: tomato;
}

div p {
    color: aquamarine;
}

div h2,
div h3 {
    color: brown;
}

* {
    font-size: 24px;
    color: black;
}

/* Este es un comentario en CSS es importante para poder dar entender que es lo que se esta escribiendo en el codigo */

/* 
    Este es un comentario que tiene muchas lineasssssssssssssssssssssssssss


*/

/* .color {
    color: #FF0000;
    .color {
        color: rgb(0, 255, 255);
    }

    .color {
        border: .3125rem black inset;
            dotted
            dashed
            solid
            double
            groove
            ridge
            indet 
            outset
            none
            hidden
    }

} */

.color {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2rem;
}

#background {
    /*     background-color: rgba(255, 0, 0);
    background-image: url('../OIG1.jpeg');
    background-size: 100px 100px;
    background-repeat: repeat-y;
    background-position: center bottom;
     */
    background: #f00 url('../OIG1.jpeg') repeat-y center bottom / 100px 100px;
    /* background-size: 100px 100px; */
    height: 300px;

}

.margin {
    background-color: brown;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.txt {
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: aquamarine;
}

a:hover {
    color: yellow;
}

a:active {
    color: #f00;
}